# Ambiente Virtual
venv/
*.venv/
env/
ENV/

# Arquivos de Cache Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de IDEs (exemplos)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace

# Arquivos de Build/Distribuição
dist/
build/
*.egg-info/
*.egg

# Arquivos de Log
*.log

# Arquivos de Teste (ex: coverage)
.coverage
htmlcov/

exemplos_excel/
*.xlsx
relatorios_gerados/
*.xlsx